<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="configPath" value="../../../../Config/WorkflowConfig.xml" />
		<add key="uploadPath" value="../../../Config/Uploads" />
		<add key="downloadsPath" value="../../../Config/Downloads" />
		<add key="executablesPath" value="../../../Config/Executables" />
		<add key="httpClientBaseAddress" value="http://localhost:9999/" />
		<add key="processStartInfoFileName" value="cmd.exe" />
		<add key="processStartInfoCommand" value="/C" />
	</appSettings>
</configuration>